$maxWidth: 1440;

@mixin adaptiv-font($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 320;
    font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
   }

   @mixin adaptiv-line($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 320;
    line-height: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
   }

   @mixin adaptiv-imgWidth($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 320;
    width: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
   }

   @mixin adaptiv-imgHeight($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 320;
    height: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
   }

header {
    background-image: url('/img/bcImg.webp');
    height: auto;
    min-height: 100vh;
    width: 100vw;
    padding-bottom: 20px;

    .header__wrapeer {
        display: flex;
        padding-top: calc(30px + (200 - 70) * ((100vw - 320px) / (1400 - 320)));

        img {
            @include adaptiv-imgWidth(444, 105);
            @include adaptiv-imgHeight(524, 131);
        }

        .header__description {
            color: #FFFF;
            font-family: "Golos-Text_Regular";
            font-style: normal;
            margin-left: 10vw;
            margin-top: 10px;

            h1 {
                // line-height: calc(40px + 36 *(100vw / 1408));
                // font-size: calc(40px + 35 *(100vw / 1408));
                @include adaptiv-line(76, 40);
                @include adaptiv-font(75, 40);
                width: 50vw;
            }

            p {
                @include adaptiv-font(22, 20);
                @include adaptiv-line(34, 27);
                margin-top: 55px;
                width: 30vw;
            }

            a {
                color: #FFFF;
                font-family: "Golos-Text_Regular";
            }
        }
    }
}


@media (max-width: 902px) {

    .header {
        min-height: 500px;

        .header__wrapeer {
            .header__description {
                h1 {
                    width: 85vw;
                }
        
                p {
                    width: 85vw
                }
            }
            img {
                position: relative;
                right: 230px;
                opacity: .7;
            }    
        }
    }
}

@media (min-width: 2160px) {
    header {
        background-image: url('/img/bcImgBig.webp');
    }
}