@mixin adaptiv-font($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 320;
    font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
   }

   @mixin adaptiv-line($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 320;
    line-height: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
   }


.main {
    background-color: #fff;
    height: auto;
    
    .hide {
        display: none;
    }

    .main__iframe {
        position: relative;
        top: 40px;
        h2 {
            @include adaptiv-font(40, 30);
            font-family: Golos;
            font-style: normal;
            font-weight: normal;
            // font-size: 40px;
            // line-height: 11px;
            // color: #FFFFFF;
            color: #000000;
            padding-bottom: 40px;
        }

        text-align: center;

        .iframe {
            // border: dashed 2px red;
            width: 80vw;
            height: 40vw;
            min-height: 200px;
            border-radius: 20px;
        }
    }

    .main__conteiners {
        margin-top: 75px;
        width: 100vw;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        
        .main__conteiners-item{

            padding-bottom: 75px;


            .main__conteiners-item--img{
                display: flex;
                justify-content: space-between;
            }
            
            h1{
                font-family: "Golos-Text_Regular";
                font-style: normal;
                color: #FFFFFF;
                @include adaptiv-font(30, 16);
                @include adaptiv-line(40, 16);

                // font-size: calc(14px + 16 *(100vw / 1408));
                // padding-top: 110px;
                padding-top: calc(10px + (110 - 10) * ((100vw - 320px) / (1440 - 320)));
                padding-left: calc(10px + (50 - 30) * ((100vw - 320px) / (1440 - 320 )));
                padding-bottom: 47px;
                width: 30vw;
            }

            img {
                max-width: 350px;
                max-height: 350px;
            }
        }

        .main__conteiners-item--text {
            span {
                padding-left: 101px;
            }
        }
            #firstItem {
                background-color: #0007B7;
            }

            #secondItem {
                background-color: #1E32E2;
            }

            #thirdItem{
                background-color: #0007B7;
            }

            #fourthItem {
                background-color: #1E32E2;
            }
    }



}


